<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Человек</title>
</head>
<body>

<p th:text="'id: ' + ${person.getId()}" id="id">VALUE</p>
<p th:text="'ФИО: ' + ${person.getFullName()}">VALUE</p>
<p th:text="'Год рождения: ' + ${person.getYearOfBirth()}">VALUE</p>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<br>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Удалить"/>
</form>
</body>
</html>